$primary-color: #1abc9c;
$secondary-color: lightblue;
$tertiary-color: purple;
$quaternary-color: #212121;
$font-color: white;
$font-size: 2em;
$font-size-l: 10em;
$font-size-xl: 15em;
$font-family: 'Roboto', sans-serif;
